body {
  background-color: lightblue;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
}

table, th, td {
  border: 1px solid;
}

h1 {
  color: rgba(252, 58, 9, 0.699);
}

aside {
  float: center;
  padding: 35px;
}

nav .nav-item {
  float: left;
  list-style-type: none;
  margin: 0;
  padding: 20px;
  overflow: hidden;
  background-color: #ff9f72;
}
