body {
  background-color: rgba(185, 163, 172, 0.479);
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
}

table, th, td {
  border: 1px solid;
}

h1 {
  color: rgba(252, 58, 9, 0.699);
  text-align: center;
}

aside {
  float: center;
  padding: 35px;
}

/* Style for the nav container */
nav {
  display: flex;
  justify-content: center;
  background-color: rgb(211, 116, 195); /* Set the background color for the entire nav bar */
  padding: 10px 0; /* Optional: padding for the nav container */
  width: 100%;
}

/* Style for the nav items */
nav .nav-item {
  padding: 14px 16px;
  text-align: center;
}

nav ul {
  padding: 0;
  margin: 0;
  display: flex;
  list-style-type: none; /* Remove default list styling */
}



.nav-item:hover {
  background-color: rgb(255, 255, 255);

}



.image-container {
  text-align: center; /* Center the image horizontally */
}

.styled-image {
  width: 100%; /* Make the image take 100% of the container's width */
  max-width: 700px; 
  height: auto; /* Maintain aspect ratio */
  border: 2px solid #000; 
  border-radius: 10px; /* Rounded corners */
  margin: 50px; /* space around the image */
  float: middle;
}

.page-with-different-image-req {
  /* Styles for the Tallahassee Image*/
  width: 100%; /* Make the image take 100% of the container's width */
  height: 100%; /* Maintain aspect ratio */
  max-width: 1000px;  /* Example: Increase size */
  border: 2px solid #000; 
  border-radius: 10px; /* Rounded corners */
  margin: 50px; /* space around the image */
}


.side-info {
  width: 100%; /* Make the image take 100% of the container's width */
  max-width: 250px; 
  height: auto; /* Maintain aspect ratio */
  border: 2px solid #000; 
  border-radius: 10px; /* Rounded corners */
  margin: 50px; /* space around the image */
  float: left;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(211, 116, 195);
  color: white;
  text-align: center;
}